<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <span class="h3">Listado de Empleados</span>
        <button class="btn btn-dark btn-lg">Agregar</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sandra</td>
            <td>Lilder</td>
            <td>000000000</td>
            <td>2.500,00 €</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-info mr-3"></i>
              <i class="fa-solid fa-trash fa-lg text-danger ml-3"></i>
            </td>
          </tr>
          <tr>
            <td>Álvaro</td>
            <td>Gariv</td>
            <td>000000000</td>
            <td>2.800,00 €</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-info mr-3"></i>
              <i class="fa-solid fa-trash fa-lg text-danger ml-3"></i>
            </td>
          </tr>
          <tr>
            <td>Almudena</td>
            <td>España</td>
            <td>000000000</td>
            <td>1.500,00 €</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-info mr-3"></i>
              <i class="fa-solid fa-trash fa-lg text-danger ml-3"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
